.page-header {
  border-bottom: 1px solid #ececec;
  width: 100%;
  // Navigation Logo && Menu
  .nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      a {
        color: $MainFontColor;
        text-decoration: none;
        &:hover,
        &:focus {
          color: #000;
        }
        span {
          color: $secColor;
        }
      }
    }

    .menu {
      list-style-type: none;
      margin: 0px;
      li {
        display: inline-block;
        &:not(:last-child) {
          margin-right: 46px;
        }
        a {
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.14;
          letter-spacing: 0.02em;
          color: var(--MainFontColor);
          &:hover,
          &:focus {
            color: $secColor;
          }
        }
      }
    }
    // NavigationBarContact
    .contact {
      list-style: none;
      padding-left: 364px;
      li {
        display: inline-block;
      }

      li:last-child {
        padding-left: 50px;
      }

      a {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $contactColor;
      }

      a:hover,
      a:focus {
        color: $secColor;
      }
    }
  }
}
